{{Front}}
<style>
.card .card::before {
background-image: url("_front-img.gif");
}
</style>
<div class="card__container">
<div class="card__subcontainer">
   <div class="card__instance">
      <div class="card">
         <div class="card__group">
            <div class="card__title">
               Excuse
            </div>
            <div class="card__subtitle card__footer">
               verb • noun
            </div>
            <hr style="width: 25%; margin-top: 10px;" />
         </div>
         <div style="align-self: center;" class="card__main">
            Excuse me, where is the nearest cafe?
         </div>
      </div>
   </div>
</div>