<html>

<body>
    <div class="card__container">
        <div class="card__subcontainer">
            <div class="card">
                <div class="card__header">
                    <div class="card__header-button">
                        {{audio}}
                    </div>
                    <div class="card__header-image">
                        {{image}}
                    </div>
                </div>
                <div class="card__body">
                    <div class="card__body-item">
                        <div id="title">
                           {{word}}
                        </div>
                        <div id="subtitle">
                           {{word_transcription}}
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</body>

</html>