<style>
    .card .card::before {
        background-image: url({{front_image}});
    }
</style>


<html>

<body>
    <div class="card__container f-mdx p7">
        <div class="card__subcontainer">
            <div class="card__wrapper">
                <div class="card">
                    <div>
                        {{word}}
                        <p class="f-md g2">
                            {{transcription}}
                        </p>
                    </div>
                    <hr />
                    <div>
                        {{sentence}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>