:root {
    --c1: #168AAD;
    --c2: #34A0A4;
    --g1: #343a40;
    --g2: #68727b;
    --ext: #0E293F;

    --f-sm: 11px;
    --f-smx: 13px;
    --f-md: 15px;
    --f-mdx: 17px;
    --f-bg: 19px;
    --f-bgx: 21px;
    --f-hg: 23px;
    --f-hgx: 25px;

    --s-sm: 5px;
    --s-smx: 10px;
    --s-md: 15px;
    --s-mdx: 20px;
    --s-bg: 25px;
    --s-bgx: 30px;
    --s-hg: 50px;
    --s-hgx: 100px;
}